body {
  background-color: rgb(75,83,32, 0.8);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: black;
  margin-left: 200px;
}

 /* Nav */
 nav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

li {
  list-style-type: none;
  padding: 10px 6px;
  font-size: 20px;
  color: rgb(75,83,32);
  display: block;
  margin-left: -20px;
}

li a:hover {
  color: rgb(75,83,32);
  text-decoration: none;
}

li a:visited {
  color: rgb(75,83,32);
}

.navDiv1 {
    border: 1px solid rgb(75,83,32);
    width: 90%;
    margin-top: 100px;
}

.navDiv2 {
  border: 1px solid rgb(75,83,32);
  width: 90%;
  margin-top: 15px;
}

/* card */
.card {
  box-shadow: 0 4px 8px 0 #111;
  text-align: right;
  color: rgb(75,83,32);
  margin-top: 120px;
  padding-right: 10px;
}

button {
  border: none;
  display: inline-block;
  padding: 8px;
  color: #111;
  background-color: lightslategray;
  text-align: right;
  cursor: pointer;
  width: 70%;
}
/* endCard */
/* endNav */


h1 {
  font-weight: 300;
  margin-left: 60px;
  text-decoration: underline;
}

label {
  display: flex;
  align-items: left;
  margin-bottom: 10px;
  text-align: left;
}

input, button, select, textarea {
  margin: 0;
  font-family:inherit;
  font-size: inherit;
  line-height: inherit;
}

hr {
  border: 1px solid black;
  width: 98%;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* form */
form {
  background: rgb(208, 201, 183);
  padding: 20px 10px;
  border-radius: 50px;
  min-width: 20px;
}

.form-group {
  margin: 0 auto 20px auto;
  padding: 5px 20px 0 20px;
}

.form-control {
  display: block;
  width: 98%;
  height: 35px;
  padding: 5px 5px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.form-control:focus {
  border-color: rgb(75,83,32);
}

.input-file {
  padding: 5px 5px;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: auto;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 10px;
  min-height: 15px;
  min-width: 15px;
}

.input-textarea {
  height: 70px;
  width: 98%;
  padding: 5px;
}
/* endForm */

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}